[core]
	editor = vim -c \"set fenc=utf-8\"
[ghq]
	root=~/dev/src
[user]
	name = ryosebach
	email = 15684002+ryosebach@users.noreply.github.com
[merge]
	ff = false
[pull]
	ff = only
[alias]
	st = status
	co = checkout
	ci = commit
	typechange = status -s | awk '$1=="T"{print $2}' | xargs git checkout
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	review = diff origin/master...
	gone = "!f() { git fetch --prune; git branch -vv | grep \"gone]\" | awk \"{print \\$1}\" | xargs git branch -D; }; f"
[fetch]
	prune = true
