[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/ryosei/.gitignore_global
[ghq]
	root = ~/dev/src
	root = ~/.go/src
[user]
	name = ryosebach
	email = ryo.freezia@gmail.com
[merge]
	ff = false
[pull]
	ff = only
[alias]
	st = status
	co = checkout
	ci = commit
	typechange = status -s | awk '$1=="T"{print $2}' | xargs git checkout
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	review = diff origin/master...
